* {
    box-sizing: border-box;
}
.allqq{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}
.fesNameqq{
    background-image: url(./../images/christianFes/christianBanner.jpg);
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid black;
}
.fesName2qq{
    background-image: url(./../images/hinduFes/hinduBanner.jpg);
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid black;
}
.fesName3qq{
    background-image: url(./../images/IslamFes/islamBanner.jpg);
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid black;
}
.fesContentqq::after{
    content: "";
    clear: both;
}
.fesContentqq{
    display: flex;
    flex-wrap: wrap;
}
.titleqq{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}
.explanatoryqq{
    background-image: url(./../images/christianFes/christianPattern.jpg);
    border-right: 1px dashed black;
}
.explanatory2qq{
    background-image: url(./../images/hinduFes/hinduPattern.jpg);
    border-right: 1px dashed black;
}
.explanatory3qq{
    background-image: url(./../images/IslamFes/islamPattern.jpg);
    border-right: 1px dashed black;
}
.fesImgqq{
    width: 75%;
    padding: 5px;
    margin: 0 auto;
}
.pqq{
    text-align: justify;
}
.buttonqq{
    padding-top: 15px;
}
.buttonqq a {
    background-color: darkslateblue;
    color: #fff;
    display: inline-block;
    line-height: 250%;
    padding: 0 30px;
    text-decoration: none;
    transition: 0.1s all;
    border-radius: 10px;
  }
.buttonqq a:hover {
    background-color: orange;
}
.sideqq{
    background-image: url(./../images/christianFes/christianPattern.jpg);
}
.side2qq{
    background-image: url(./../images/hinduFes/hinduPattern.jpg);
}
.side3qq{
    background-image: url(./../images//IslamFes/islamPattern.jpg);
}
.bookAdsqq{
    height: 100%;
}
.adqq{
    height: 33.33%;
    position: relative;
}
.bookqq{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}
.book1qq{
    position: sticky;
    top: 0;
}
.book2qq{
    position: sticky;
    top: 0;
}
.book3qq{
    position: sticky;
    top: 0;
}
.sideImgqq{
    width: 100%;
}
#demoqq{
    margin: 0 0;
}
.jsqq{
    font-size: 2rem;
    text-align: center;
    margin: 0 0;
    border-top: 3px solid black;
    background-size: cover;
    padding: 0;
}
.jsC{
    background-image: url("./../images/christianFes/ChristFes/Christmas/ChristmasCD.jpeg");

}
.jsE{
    background-image: url(./../images/christianFes/ChristFes/Easter/easterCD.jpg);
}
.jsL{
    background-image: url(./../images/christianFes/ChristFes/Lent/LentCD.jpg);
}
.jsD{
    background-image: url(./../images/hinduFes/hinduFes/diwali/diwaliCD.jpeg);
}
.jsH{
    background-image: url(./../images/hinduFes/hinduFes/holi/HoliCD.jpeg);
}
.jsK{
    background-image: url(./../images/hinduFes/hinduFes/kumbhMela/KumbhMelaCD.jpeg);
}
.jsM{
    background-image: url(./../images/hinduFes/hinduFes/mahashivaratri/shivaratriCD.jpeg);
}
.jsAl{
    background-image: url(./../images/IslamFes/IslamFes/EidAlFitr/AlCD.png);
}
.jsR{
    background-image: url(./../images/IslamFes/IslamFes/Ramadan/ramadanCD.jpeg);
    background-size: contain;
}
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 1px) {
    .col- {
        width: 100%;
    }
    .fesNameqq{
        font-size: 1.5rem;
    }
    .fesName2qq{
        font-size: 1.5rem;
    }
    .fesName3qq{
        font-size: 1.5rem;
    }
    .titleqq{
        font-size: 1.125rem;
    }
    .pqq{
        font-size: 0.75rem;
    }
    .jsqq{
        font-size: 1.5rem;
    }
    .buttonqq{
        font-size: 0.75rem;
    }
}
@media only screen and (min-width: 600px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .fesNameqq{
        font-size: 1.75rem;
    }
    .fesName2qq{
        font-size: 1.75rem;
    }
    .fesName3qq{
        font-size: 1.75rem;
    }
    .titleqq{
        font-size: 1.3125rem;
    }
    .pqq{
        font-size: 0.875rem;
    }
    .jsqq{
        font-size: 1.75rem;
    }
    .buttonqq{
        font-size: 0.875rem;
    }
}
@media only screen and (min-width: 1024px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .fesNameqq{
        font-size: 2rem;
    }
    .fesName2qq{
        font-size: 2rem;
    }
    .fesName3qq{
        font-size: 2rem;
    }
    .titleqq{
        font-size: 1.5rem;
    }
    .pqq{
        font-size: 1rem;
    }
    .jsqq{
        font-size: 2rem;
    }
    .buttonqq{
        font-size: 1rem;
    }
}

