.content{
    font-family:'Times New Roman', Times, serif;
    background-image: url("./../../images/christianFes/christianBG.jpg");
    border-style: solid;
    border: 5px solid black;
    border-radius: 15px;
}
h1{
    background-image: url("./../../images/christianFes/christianBanner.jpg");
    color:wheat;
    font-size: 44px;
    text-align: center;
    padding: 5px 0;
    margin: 0 auto;
    border-bottom: 5px solid black;
}
.mainContainer{
    display: flex;
    align-items: center ;
    margin: 0 auto;
}
.fesList{
    width: 70%;
    margin: 0 auto;
}
.fes{
    height:359px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("./../../images/christianFes/christianPattern.jpg");
    margin-top: 55px;
    margin-bottom: 55px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
}
.left{
    width: 28%;
    height: 100%;
    float: left;
    padding: 10px;
}
.image{
    border-style: solid;
    border: 3px solid black;
    border-radius: 10px;
    width: 277px;
    height: 333px;
}
.right{
    width: 67%;
    float: right;
    display: flex;
    flex-direction: column;
}
.title{
    float: left;
    color: wheat;
    font-style: italic;
    text-decoration: none;
    padding-bottom: 25px;
}
.p{
    padding-right: 50px;
    font-size: 150%;
    color: white;
    font-style: italic;
    padding-bottom: 40px;
}
a:hover{
    color: orange;
}
.more a {
    background-color: darkslateblue;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    padding: 0 60px;
    text-align: center;
    text-decoration: none;
    transition: 0.1s all;
    border-radius: 10px;
  }
.more a:hover {
    background-color: orange;
}
