.all{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    border: 5px solid black;
    border-radius: 20px;
}
h1{
    color: white;
    background-image: url("./../../images/hinduFes/hinduBanner.jpg");
    font-size: 300%;
    text-align: center;
    margin: 0 0;
    border-bottom: 4px solid black;
}
.explanatory{
    background-image: url("./../../images/hinduFes/hinduBG.jpg");
}
.content{
    width: 70%;
    margin: 0 auto;
    border-left: 4px solid black;
    border-right: 4px solid black;
}
.title{
    color: white;
    font-size: 250%;
    background-image: url("./../../images/hinduFes/hinduPattern.jpg");
    padding: 22px;
    display: flex;
    flex-direction: column;
}
.p{
    font-size: 62.5%;
}
#demo{
    margin: 0 0;
}
/*img{*/
/*    width: 50%;*/
/*    height: 300px;*/
/*    margin: 11px auto;*/
/*}*/
.js{
    background-image: url("./../../images/hinduFes/hinduFes/mahashivaratri/shivaratriCD.jpeg");
    background-size: 100% 100%;
    color: white;
    font-size: 300%;
    text-align: center;
    margin: 0 0;
    border-top: 4px solid black;
}
.button{
    background-image: url("./../../images/hinduFes/hinduPattern.jpg");
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.dl a {
    background-color: darkslateblue;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    padding: 0 60px;
    text-align: center;
    text-decoration: none;
    transition: 0.1s all;
    border-radius: 10px;
  }
.dl a:hover {
    background-color: blue;
}