<section>
    <div class="row justify-content-center">
        <div class="card col-12">
            <div class="card-body ">
                <div class="top-footer">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12 col-md-12 reveal ">
                            <div class="justify-content-center d-flex flex-column">
                                <div style="margin-left: 5%">
                                    <h4 class="text-primary">About</h4>
                                    <p class="mb-5 mb-lg-2 text-secondary">Our Goal
                                    </p>
                                </div>

                                <div class="w-75" style="margin-left: 10%">
                                    <p class="text-info text-body text-wrap text-break mb-5 mb-lg-2 m-1" style="text-align: justify">We believes in using culture to promote peace, because "countries and cultures often divided by politics can easily and frequently unite over the arts, humanitarianism and health."[2] Based on this belief, We works to promote cultural diversity around the world and create an open platform for intercultural exchange and collaboration.[3] We "…dreams of a global community where cultural diversity is truly fostered and appreciated by all everywhere."[4]</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-sm-6 col-md-4 reveal revealleft">
                            <h4 class="text-primary">Information</h4>
                            <ul class="list-unstyled mb-5 mb-lg-0">
                                <li><a class="c" href="#" ng-click="scrollToSection('home')">Home</a>
                                </li>
                                <li><a class="c" href="#" ng-click="scrollToSection('book')">Book</a>
                                </li>
                                <li><a class="c" href="#" ng-click="scrollToSection('religion')">Religion</a>
                                </li>
                                <li><a class="c" href="#" ng-click="scrollToSection('about')">About
                                    Us</a></li>
                                <li><a class="c" href="#"
                                       ng-click="scrollToSection('gallery')">Gallery</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-md-4 reveal revealleft">
                            <h4 class="text-primary">Pages</h4>
                            <ul class="list-unstyled mb-5 mb-lg-0">
                                <li><a class="c" href="#!/home">Home</a></li>
                                <li><a class="c" href="#!/store">Book</a></li>
                                <li><a class="c" href="#!/religion">Religion</a></li>
                                <li><a class="c" href="#!/about">About Us</a></li>
                                <li><a class="c" href="#"
                                       ng-click="scrollToSection('gallery')">Gallery</a></li>

                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-md-4 reveal revealleft">
                            <div class="">
                                <a href="#!/home"><img alt="logo"
                                                       class="logo-3" src="./images/pngs/logo.png"></a>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                    dolore eu fugiat nulla pariatur Excepteur sint occaecat.</p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input aria-describedby="button-addon1"
                                               aria-label="Example text with button addon"
                                               class="form-control"
                                               placeholder="Enter your email"
                                               type="text">
                                        <button class="btn btn-primary" id="button-addon2"
                                                type="button">Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-list mt-6">
                                <button class="btn btn-icon rounded-pill" type="button"><i
                                        class="fa fa-facebook"></i></button>
                                <button class="btn btn-icon rounded-pill" type="button"><i
                                        class="fa fa-youtube"></i></button>
                                <button class="btn btn-icon rounded-pill" type="button"><i
                                        class="fa fa-twitter"></i></button>
                                <button class="btn btn-icon rounded-pill" type="button"><i
                                        class="fa fa-instagram"></i></button>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>