<section>
  <div class="row justify-content-center">
    <div class="card col-12 ">
      <div class="card-body d-flex ">
        <div class="col-8">
          <ul class="nav nav-pill">
            <li class="nav-item m-1">
              <a href="#!/home"><img alt="logo"
                                     class="duclogo" src="./images/pngs/logo.png"></a>
            </li>
            <li class="nav-item m-1">
              <a class="nav-link active px-4 py-2 c" href="#!/home">Home</a>
            </li>
            <li class="dropdown nav-item m-1">
              <a class="nav-link px-4 py-2" href="#">Religion</a>
              <ul class="sub-menu dropdown-menu">
                <li class="dropdown custom-dropdown">
                  <a href="#!/christian">Christian <i
                          class="fa fa-solid fa-caret-right padicon1"></i></a>
                  <ul class="sub-menu">
                    <li class="custom-dropdown "><a href="#!/christmas" class="custom-dropdown">Christmas</a></li>
                    <li class="custom-dropdown"><a href="#!/easter" class="custom-dropdown">Easter</a></li>
                    <li class="custom-dropdown"><a href="#!/lent" class="custom-dropdown">Lent</a></li>
                  </ul>

                </li>
                <li class="dropdown custom-dropdown">
                  <a href="#!/hindu">Hindu <i class="fa fa-solid fa-caret-right padicon2"></i></a>
                  <ul class="sub-menu">
                    <li class="custom-dropdown"><a href="#!/diwali" class="custom-dropdown">Diwali</a></li>
                    <li class="custom-dropdown"><a href="#!/holi" class="custom-dropdown">Holi</a></li>
                    <li class="custom-dropdown"><a href="#!/kumbhmela" class="custom-dropdown">KumbhMela</a></li>
                    <li class="custom-dropdown"><a href="#!/mahashivaratri" class="custom-dropdown">Mahashivaratri</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown custom-dropdown">
                  <a href="#!/islam">Islam <i class="fa fa-solid fa-caret-right padicon3"></i></a>
                  <ul class="sub-menu">
                    <li class="custom-dropdown"><a href="#!/eidaladha" class="custom-dropdown">EidAlAdha</a></li>
                    <li class="custom-dropdown"><a href="#!/eidalfitr" class="custom-dropdown">EidAlFitr</a></li>
                    <li class="custom-dropdown"><a href="#!/ramadan" class="custom-dropdown">Ramadan</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item m-1">
              <a class="nav-link px-4 py-2 c" href="#!/store">Books</a>
            </li>
            <li class="nav-item m-1">
              <a class="nav-link px-4 py-2 c" href="#"
                 ng-click="scrollToSection('gallery')">Gallery</a>
            </li>
            <li class="nav-item m-1">
              <a class="nav-link px-4 py-2 c" href="#!/about"
                 ng-click="scrollToSection('about')">About us</a>
            </li>
          </ul>
        </div>
        <div class="col-4">
          <div class="nav nav-pill justify-content-end">
              <div class="nav-item m-1 d-flex d-none hasLogin" id="hasLogin">
                  <div>
                      <img src="" alt="" class="btn m-1 pngAvatar" id="accountAvatar">
                  </div>
                  <div class="border border-light">
                      <a href="">
                          <span class="text-center btn m-1 text-capitalize" id="accountName"></span>
                      </a>
                  </div>
                  <div>
                      <button class="btn btn-outline-info m-1" onclick="logOutAcc()">Logout</button>
                  </div>
              </div>


              <div class="nav-item m-1 d-flex notLogin" id="notLogin">
                  <div>
                      <button class="btn btn-outline-info m-1" onclick="openLoginModal()">Login</button>
                  </div>
                  <div>
                      <button class="btn btn-outline-info m-1" onclick="openRegisterModal()">Register</button>
                  </div>
              </div>
            <div class="nav-item m-1">
              <div class="">
                <button class="btn" type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight"
                        aria-controls="offcanvasRight">
                  <i class="fa fa-shopping-cart cart-icon btn-primary-gradient">
                </i>
                </button>
                <div class="notification-cart">
                  <span class="number-icon" id="user-item-number"></span>
                </div>

              </div>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasRightLabel">Your Cart</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div id="canvasOffContent">
                  </div>
                </div>
              </div>





            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Your Cart</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="canvasOffContent">
        </div>
    </div>
</div>
<div id="loginModal" class="custom-modal-login-register">
    <div class="custom-modal-content fade-in-custom-modal">
        <!--    <div class="d-flex justify-content-end"> <button type="button" class="btn-close text-reset" onclick="closeLoginModal()" aria-label="Close"></button></div>-->
        <h2>Login</h2>
        <hr>
        <form>
            <!-- Login form fields -->
            <div class="form-group d-flex pt-4">
                <label for="login-name" class="col-4">User Name:</label>
                <input type="text" id="login-name" placeholder="Name" autocomplete="off"
                       class="col-8 border border-info" required>
            </div>
            <div class="form-group d-flex pt-2">
                <label for="login-password" class="col-4">Password:</label>
                <input type="password" id="login-password" placeholder="Password" autocomplete="off"
                       class="col-8 border border-info" required>
            </div>
            <div class="pt-3 d-flex">
                <div class="col-4"></div>
                <div class="col-8">
                    <span><a href="#" class="text-secondary text-capitalize f-g-p">Forgot your password !</a></span>
                </div>
            </div>
            <div class="pt-3 d-flex">
                <div class="col-4"></div>
                <div class="col-8 d-flex">
                    <button type="button" class="btn btn-outline-info m-1 col" onclick="loginUser()">Login</button>
                    <button type="button" class="btn btn-outline-info m-1 col" onclick="closeLoginModal()">Cancel
                    </button>
                </div>
            </div>
            <!-- Add more fields as needed -->

        </form>
    </div>
</div>
<div id="registerModal" class="custom-modal-login-register">
    <div class="custom-modal-content fade-in-custom-modal">
        <!--    <div class="d-flex justify-content-end"> <button type="button" class="btn-close text-reset" onclick="closeLoginModal()" aria-label="Close"></button></div>-->
        <h2>Register</h2>
        <hr>
        <form>
            <!-- Login form fields -->
            <div class="form-group d-flex pt-4" id="registerForm">
                <label for="register-name" class="col-4">User Name:</label>
                <input type="text" id="register-name" placeholder="Name" class="col-8 border border-info">
            </div>
            <div class="d-flex">
                <div id="existUserError" class="col-12 alert-warning d-none text-center">
                    Account Name 's already exist !
                </div>
            </div>
            <div class="form-group d-flex pt-2">
                <label for="register-email" class="col-4">Email:</label>
                <input type="email" id="register-email" placeholder="Email" class="col-8 border border-info">
            </div>
            <div class="form-group d-flex pt-2">
                <label for="register-password" class="col-4">Password:</label>
                <input type="password" id="register-password" placeholder="Password" autocomplete="off"
                       class="col-8 border border-info">
            </div>
            <div class="form-group d-flex pt-2">
                <label for="register-re-password" class="col-4"></label>
                <input type="password" id="register-re-password" placeholder="Retype password" autocomplete="off"
                       class="col-8 border border-info">
            </div>
            <div class="d-flex">
                <div class="col-4"></div>
                <div id="rePasswordError" class="col-8 alert-warning d-none text-center">
                    Passwords don't match
                </div>
            </div>
            <div class="d-flex pt-3">
                <div id="successRegister" class="col-12 alert-warning d-none text-center">
                    Successful register account !
                </div>
            </div>
            <div class="d-flex">
                <div class="col-4"></div>
                <div class="col-8 d-flex">
                    <button type="submit" class="btn btn-outline-info m-1 col" onclick="registerUser()">Register
                    </button>
                    <button type="button" class="btn btn-outline-info m-1 col" onclick="closeRegisterModal()">Cancel
                    </button>
                </div>
            </div>
            <!-- Add more fields as needed -->

        </form>
    </div>
</div>

